body {
    font-family: Inter, sans-serif;
    background-color: #0F2732;
    color: #F0F2F1;
}

h1 {
    font-size: 4em;
    font-size: clamp(2.625rem, 0.9063rem + 5.5vw, 4rem);
    color: #51BA7D;
    margin: 0;
}

h2 {
    font-family: sans-serif;
}

.paragraphs {
    font-size: 20px;
    line-height: 160%;
}

p + h2 {
    margin-top: 2rem;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    padding: 3ch;
}

.container:first-of-type {
    margin-top: 2rem;
}

.inline {
    display: inline-block;
}

.page-logo {
    height: 9ch;
    margin-inline-end: 1ch;
}

.code {
    display: inline;
    font-style: normal;
    font-family: monospace;
}